@model IPagedList<CMS.UI.Areas.Admin.Models.ContentsVM.ContentsListVM>
@using PagedList;
@using PagedList.Mvc
@{

ViewBag.Title = "Index";
Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="title-bar">
    <h1 class="title-bar-title">
        <span class="icon icon-plus"></span>
        <span class="d-ib">@Html.ActionLink("İçerik Oluştur", "Create")</span>
    </h1>
</div>
@using (Html.BeginForm("Delete", "Content", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-middle">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Başlık</th>
                                    <th>Özet</th>
                                    <th>Yayın</th>
                                    <th>Kayıt Tarihi</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <label class="custom-control custom-control-primary custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" name="ids" value="@item.ContentID" />
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Summary)
                                        </td>
                                        <td>
                                            @Html.CheckBoxFor(modelItem => item.Active, new { @disabled = "disabled" })
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>
                                        <td>
                                            @Html.ActionLink("Düzenle", "Edit", new { cId = item.ContentID}, new { @class = "btn btn-outline-primary pull-right" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                @if (Model.Count() > 0)
                                {
                                    <tr>
                                        <td colspan="8">
                                            <input type="submit" name="delete" value="Sil" class="btn btn-danger pull-right" onclick="return confirm('Kaydı silmek istediğinizden emin misiniz?');" />

                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="8"></td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="pagedList">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.PageNumbersOnly)
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

