@model CMS.UI.Areas.Admin.Models.MenusVM.MenusVM

@{
    ViewBag.Title = "Menü Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    var listTypes = new SelectList(Model.ListType, "ListID", "Value");
    List<SelectListItem> listTarget = new List<SelectListItem>();
    listTarget.Add(new SelectListItem
    {
        Text = "_self",
        Value = "_self",
        Selected = true
    });
    listTarget.Add(new SelectListItem
    {
        Text = "_target",
        Value = "_target"
    });

}

@using (Html.BeginForm("Edit", "Menu", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-lg-8">
            <div class="demo-form-wrapper">
                <hr />
                <div class="tab-content">
                    <div class="row">
                        <div class="form form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Menus.MenuListID, "Menü Yeri", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.Menus.MenuListID, listTypes, "Seçiniz", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Menus.MenuListID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MenuInfo.Menu, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.MenuInfo.Menu, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MenuInfo.Menu, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Menus.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    <input id="form-control-9" type="file" name="uploadfile">
                                    <br />
                                    <p><b> Menü resmini değiştirmek istiyorsanız yeni bir resim yükleyiniz.</b></p>
                                    @if (Model.Menus.Image != null)
                                    {
                                        <img src="/Uploads/Banners/@Model.Menus.MenuID/@Model.Menus.Image" style="width:100px" />
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MenuInfo.Url, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.MenuInfo.Url, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Menus.Target, "Target", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.Menus.Target, listTarget, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Menus.Active, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.CheckBoxFor(model => model.Menus.Active, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Menus.Sort, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Menus.Sort, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Güncelle" class="btn btn-default" id="btnSubmit" />
                                </div>
                            </div>
                            @Html.HiddenFor(model => model.Menus.MenuID)
                            @Html.HiddenFor(model => model.Menus.MenuListID)
                            @Html.HiddenFor(model => model.MenuInfo.MenuInfoID)
                            @Html.HiddenFor(model => model.Menus.CreationDate)
                            @Html.HiddenFor(model => model.MenuInfo.LanguageID)
                            @Html.HiddenFor(model => model.Menus.ParentID)
                            @Html.HiddenFor(model => model.MenuInfo.MenuID)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Menü listesine geri dön", "Index")
</div>


